/Scheduler.Main/.idea
/Scheduler.Main/bin
/Scheduler.Main/obj

/Scheduler.Model/bin
/Scheduler.Model/obj



/Scheduler.Quartz/bin
/Scheduler.Quartz/obj


/Scheduler.SignalR/bin
/Scheduler.SignalR/obj


/Scheduler.Core/bin
/Scheduler.Core/obj

